<a href="https://colab.research.google.com/github/Tomawock/NLP_Attack/blob/main/utils/Amazon_reduceAndChunk.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install textattack

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import numpy as np
import pandas as pd
from textattack.augmentation import WordNetAugmenter
from textattack.augmentation import EmbeddingAugmenter

In [8]:
dataset = pd.read_csv('/content/drive/Shareddrives/Deep Learning/datasets/Amazon/Reviews.csv')
print(f"COLONNE:{dataset.columns}")
print(f"DIMENSIONE:{dataset.shape}")

COLONNE:Index(['Id', 'ProductId', 'UserId', 'ProfileName', 'HelpfulnessNumerator',
       'HelpfulnessDenominator', 'Score', 'Time', 'Summary', 'Text'],
      dtype='object')
DIMENSIONE:(568454, 10)
COLONNE:Index(['Score', 'Summary', 'Text'], dtype='object')
DIMENSIONE:(393579, 3)

##Filtering del dataset dei dati duplicati e rimozione parti inutili di esso

In [ ]:
rar=dataset.copy()
rar.drop_duplicates(subset ="Text",
                    keep = "last", inplace = True)
rar.drop(['Id','ProductId', 'UserId', 'ProfileName', 'HelpfulnessNumerator','HelpfulnessDenominator','Time'], axis=1, inplace=True)
print(f"COLONNE:{rar.columns}")
print(f"DIMENSIONE:{rar.shape}")

In [11]:
rar["review_type"] = rar["Score"].apply(lambda x: "negative" if x < 4 else "positive")

In [12]:
rar.review_type.value_counts()

positive    306756
negative     86823
Name: review_type, dtype: int64

In [14]:
positive_reviews = rar[rar.review_type == "positive"]
negative_reviews = rar[rar.review_type == "negative"]

In [31]:
positive_df = positive_reviews.sample(n=len(negative_reviews), random_state=22)
negative_df = negative_reviews

In [56]:
df = pd.concat(objs=[positive_df, negative_df]).sample(frac=1).reset_index(drop=True)
df

        Score  ... review_type
0           5  ...    positive
1           3  ...    negative
2           5  ...    positive
3           1  ...    negative
4           4  ...    positive
...       ...  ...         ...
173641      2  ...    negative
173642      1  ...    negative
173643      5  ...    positive
173644      1  ...    negative
173645      1  ...    negative

[173646 rows x 4 columns]

In [63]:
df.to_csv('/content/drive/Shareddrives/Deep Learning/datasets/Amazon/reducedReviews.csv', index=False)

In [67]:
df.iloc[[i*2000 for i in range(10)]]

       Score  ... review_type
0          5  ...    positive
2000       2  ...    negative
4000       5  ...    positive
6000       1  ...    negative
8000       2  ...    negative
10000      5  ...    positive
12000      1  ...    negative
14000      5  ...    positive
16000      5  ...    positive
18000      5  ...    positive

[10 rows x 4 columns]

#### Function to chunk

In [64]:
def chunk(dataset, dim=2000, max_iteration=60):
  for i in range(min(len(dataset)//dim, max_iteration)):
    yield dataset[i*dim:(i+1)*dim]

### Parallel execution

In [92]:
import threading

In [89]:
df.iloc[[2000*i for i in range(10)], [0]]

       Score
0          5
2000       2
4000       5
6000       1
8000       2
10000      5
12000      1
14000      5
16000      5
18000      5

In [100]:
def stampa(subset):
  print(subset.iloc[0])

In [101]:
i = 0
for subset in chunk(df):
  threading.Thread(target=stampa,
                   args=[subset]).start()

Score                                                          5
Summary                       excellent steak and meat seasoning
Text           The Lynchburg seasoning adds great flavor to a...
review_type                                             positive
Name: 0, dtype: object
Score                                                          2
Summary                     Edible, But Not as Good As Hoped For
Text           I must start off by saying that I really reall...
review_type                                             negative
Name: 2000, dtype: object
Score                                                          5
Summary                                            Salon Quality
Text           I was impressed with this shampoo.  It has a n...
review_type                                             positive
Name: 4000, dtype: object
Score                                                          1
Summary                               Taste just like real pasta
Text           Because it is. I am a low carb eater and one s...
review_type                                             negative
Name: 6000, dtype: objectScore                                                          2
Summary                        terminally mediocre (in my hands)
Text           My experience is quite different to most other...
review_type                                             negative
Name: 8000, dtype: object

Score                                                          5
Summary                                         BROWN RICE CAKES
Text           These are absolutely the best rice cakes in th...
review_type                                             positive
Name: 10000, dtype: object
Score                                                          1
Summary                                   WAY TOO MUCH SEASONING
Text           I am sorry I bought a dozen. I though I could ...
review_type                                             negative
Name: 12000, dtype: object
Score                                                          5
Summary                                         The best cereal!
Text           My family loves this cereal!  It is the only k...
review_type                                             positive
Name: 14000, dtype: object
Score                                                          5
Summary                          Outstanding gingerbread flavor!
Text           Went to a Red Robin's chain restaurant the oth...
review_type                                             positive
Name: 16000, dtype: object
Score                                                          5
Summary                                          Peachy Goodness
Text           I purchased this item To use as wedding favors...
review_type                                             positive
Name: 18000, dtype: object
Score                                                          2
Summary        Nice flavor topping but watch for defective se...
Text           This topping has a very nice flavor and makes ...
review_type                                             negative
Name: 20000, dtype: object
Score                                                          1
Summary                                    price jumps be warned
Text           I purchased this item on subscription for less...
review_type                                             negative
Name: 22000, dtype: object
Score                                                          5
Summary                                     Superb Pate/Rillette
Text           This is a fabulous French rillette made with d...
review_type                                             positive
Name: 24000, dtype: object
Score                                                          1
Summary                                             Dissapointed
Text           Purchasing these, I was expecting dried tart c...
review_type                                             negative
Name: 26000, dtype: object
Score                                                          4
Summary                                          Freshness First
Text           freshness is my #1 priority in making coffee. ...
review_type                                             positive
Name: 28000, dtype: object
Score                                                          5
Summary                                        almost guilt free
Text           The pancakes and waffles taste great! I just f...
review_type                                             positive
Name: 30000, dtype: object
Score                                                          1
Summary                                            wrong product
Text           I ordered triple chocolate crunch bars and rec...
review_type                                             negative
Name: 32000, dtype: objectScore                                                          1
Summary                                                     YUCK
Text           Sorry, but I can't say too many good things ab...
review_type                                             negative
Name: 34000, dtype: object

Score                                                          1
Summary                                            Tastes BURNT!
Text           I had bought the "original" version of this br...
review_type                                             negative
Name: 36000, dtype: object
Score                                                          5
Summary                                      Quick, easy, tasty!
Text           I loved this quick meal so much (my family and...
review_type                                             positive
Name: 38000, dtype: object
Score                                                          5
Summary                          great breakfast stuff and snack
Text           Pretty expensive to buy this way, but it is go...
review_type                                             positive
Name: 40000, dtype: object
Score                                                          2
Summary                                                    EEWW!
Text           Leaves nasty gunk on ones fingers, totally cru...
review_type                                             negative
Name: 42000, dtype: object
Score                                                          1
Summary                                      SMELLED LIKE MILDEW
Text           WORST PURCHASE I EVER BOUGHT OFF OF AMAZON AND...
review_type                                             negative
Name: 44000, dtype: object
Score                                                          5
Summary                                       Pure Concentration
Text           My dog is totally fixated on these rawhide bon...
review_type                                             positive
Name: 46000, dtype: object
Score                                                          5
Summary                                  Great Buy for the Money
Text           A great product.  Healthy, nice container, and...
review_type                                             positive
Name: 48000, dtype: object
Score                                                          1
Summary                                        Cats won't eat it
Text           My cats are not finicky eaters. They will eat ...
review_type                                             negative
Name: 50000, dtype: object
Score                                                          5
Summary        The ENERGY drink is the only one I can tolerat...
Text           We got a Sodastream for Christmas. My kids hav...
review_type                                             positive
Name: 52000, dtype: object
Score                                                          5
Summary                                                  Delish!
Text           My dauchshunds adore this.  I break it in quar...
review_type                                             positive
Name: 54000, dtype: object
Score                                                          5
Summary                                                addictive
Text           I really have not much to add to all the other...
review_type                                             positive
Name: 56000, dtype: object
Score                                                          4
Summary                          Worth it after modifying recipe
Text           Great cupcakes, but had to modify recipe to ma...
review_type                                             positive
Name: 58000, dtype: object
Score                                                          5
Summary                                     Vet Recommended Food
Text           Our Vet is very much into quality nutrition fo...
review_type                                             positive
Name: 60000, dtype: object
Score                                                          3
Summary                       Wonderful idea-difficult to clean.
Text           I love, love, love the idea of this product an...
review_type                                             negative
Name: 62000, dtype: object
Score                                                          5
Summary                                                     chai
Text           The chai is excellent!  My parents lived in Ne...
review_type                                             positive
Name: 64000, dtype: object
Score                                                          1
Summary        Reviews are nor exaggerated, these little guys...
Text           These definitely are nice and powerful mints, ...
review_type                                             negative
Name: 66000, dtype: object
Score                                                          1
Summary                                       Used to love this.
Text           Rondnoir used to be my favorite candy of all t...
review_type                                             negative
Name: 68000, dtype: object
Score                                                          2
Summary                Lindt Excellence Chili Dark Chocolate Bar
Text           I agree with the other reviews that said this ...
review_type                                             negative
Name: 70000, dtype: object
Score                                                          1
Summary                                  Not liked by either dog
Text           These are just glorified rawhide chews.Both do...
review_type                                             negative
Name: 72000, dtype: object
Score                                                          5
Summary                                         THIS SAUCE ROCKS
Text           I got this sauce for a Christmas present.I was...
review_type                                             positive
Name: 74000, dtype: object
Score                                                          1
Summary                                 Worst hot chocolate ever
Text           Just bought the new keurig vue after having an...
review_type                                             negative
Name: 76000, dtype: object
Score                                                          5
Summary                                     Awesome jasmine rice
Text           I wanted to get some rice.  Just plain rice.  ...
review_type                                             positive
Name: 78000, dtype: object
Score                                                          2
Summary        Too bitter for my taste, not what I expected o...
Text           The illy issimo Coffee Drink, Caff&egrave;, 6....
review_type                                             negative
Name: 80000, dtype: object
Score                                                          3
Summary                                         Not too thrilled
Text           I had some quinoa pasta at a relative's house ...
review_type                                             negative
Name: 82000, dtype: object
Score                                                          5
Summary                                Best deal on Wheat Gluten
Text           Hands down, this is the best bulk deal on Whea...
review_type                                             positive
Name: 84000, dtype: object
Score                                                          2
Summary                                          Tough To Digest
Text           I have 2 dogs.  A Chow and a Berner.  These Sm...
review_type                                             negative
Name: 86000, dtype: object
Score                                                          5
Summary                                             Good Product
Text           Definately a very high quality taste.  I used ...
review_type                                             positive
Name: 88000, dtype: object
Score                                                          1
Summary                                                 Not good
Text           Got a 12 pack of these on sale from amazon war...
review_type                                             negative
Name: 90000, dtype: object
Score                                                          5
Summary                                         Love this sauce!
Text           This is an excellent Kung Pao sauce. It's just...
review_type                                             positive
Name: 92000, dtype: object
Score                                                          5
Summary                                              Great Price
Text           Our yorkie and shitzu love greenies and the pr...
review_type                                             positive
Name: 94000, dtype: object
Score                                                          5
Summary                                      My "go to" food now
Text           My Siberian huskies are super sensitive to foo...
review_type                                             positive
Name: 96000, dtype: object
Score                                                          5
Summary                               Wonderful soda alternative
Text           All non sugar soda is going to have some kind ...
review_type                                             positive
Name: 98000, dtype: object
Score                                                          2
Summary                    Good, as long as they are still fresh
Text           I bought these chips in May 2009, and they wer...
review_type                                             negative
Name: 100000, dtype: object
Score                                                          5
Summary                                   Shortbreads are great!
Text           I have always loved any of the Walker shortbre...
review_type                                             positive
Name: 102000, dtype: object
Score                                                          2
Summary                                      Disappointing beets
Text           I purchased a sampler package which included t...
review_type                                             negative
Name: 104000, dtype: object
Score                                                          1
Summary                                        Very Disappointed
Text           After having the privilege to test Emerald's M...
review_type                                             negative
Name: 106000, dtype: object
Score                                                          1
Summary                           Please don't waste your money.
Text           I tried rinsing them.  I tried eating them.  I...
review_type                                             negative
Name: 108000, dtype: object
Score                                                          3
Summary                                      such a nice product
Text           Needed Sugar for cookies I was baking for my f...
review_type                                             negative
Name: 110000, dtype: object
Score                                                          1
Summary                                               Ridiculous
Text           I purchased this package of Milky Ways a few m...
review_type                                             negative
Name: 112000, dtype: object
Score                                                          2
Summary              hmmm, just did not hit the taste buds right
Text           1st, i really do like the BLACK licorice and r...
review_type                                             negative
Name: 114000, dtype: object
Score                                                          1
Summary                                          do not buy this
Text           This was a waist of $. The flowering tea DOES ...
review_type                                             negative
Name: 116000, dtype: object
Score                                                          5
Summary                   Stevia may be the ideal diet sweetener
Text           If you are drinking diet soda for the taste, p...
review_type                                             positive
Name: 118000, dtype: object