<a href="https://colab.research.google.com/github/Tomawock/NLP_Attack/blob/main/utils/GMB_statistics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
#Read data path
data = "/content/drive/Shareddrives/Deep Learning/datasets/GMB/GMB_dataset.tsv"
parz = pd.read_csv(data,sep='\t', encoding="latin-1", index_col=[0])

In [15]:
name_tags = parz["Tag"].unique()

In [16]:
name_tags

array(['O', 'B-geo', 'B-gpe', 'B-per', 'I-geo', 'B-org', 'I-org', 'B-tim',
       'B-art', 'I-art', 'I-per', 'I-gpe', 'I-tim', 'B-nat', 'B-eve',
       'I-eve', 'I-nat'], dtype=object)

In [24]:
parz

       Sentence #           Word  POS    Tag
0             1.0      Thousands  NNS      O
1             1.0             of   IN      O
2             1.0  demonstrators  NNS      O
3             1.0           have  VBP      O
4             1.0        marched  VBN      O
...           ...            ...  ...    ...
66156      2999.0             be   VB      O
66157      2999.0      announced  VBN      O
66158      2999.0         within   IN  B-tim
66159      2999.0           days  NNS      O
66160      2999.0              .    .      O

[66161 rows x 4 columns]

In [25]:
parz.groupby('Tag').Word.nunique()

Tag
B-art      46
B-eve      24
B-geo     518
B-gpe     223
B-nat      12
B-org     406
B-per     423
B-tim     193
I-art      33
I-eve      22
I-geo     161
I-gpe      18
I-nat       5
I-org     388
I-per     621
I-tim     141
O        6632
Name: Word, dtype: int64